<div class="main-content">
    <h1>Welcome, <%= user.username %>!</h1>
    <p>Your revealed secret page. %></p>
</div>
<div class="exit">
    <a href="/logout"> <button type="button" id="logout">Logout</button></a>
</div>