<%- include('header') %>
    <div class="container">
        <div class="flex-col">
            <div class="form">
                <form action="">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Email" required>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Password" required>
                    <button type="submit" id="loginBtn">Login</button>
                </form>
            </div>
            <p>Don't have an account? Register <a href='/register' class="action">here</a></p>
        </div>
    </div>
    <%- include('footer') %>